@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');

.booking-layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Port Lligat Slab', serif;
  background-color: #f7f3f0;
}

.booking-left {
  width: 100%;
  max-width: 50%;
  background-color: #ffffff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.booking-group{
  position: relative;
}

.booking-right {
  width: 50%;
  position: relative;
  z-index: 1010;
}

.booking-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.booking-heading {
  font-size: 14px;
  background-color: #a55b13;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  width: fit-content;
}

.booking-title {
  font-size: 48px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 20px;
  line-height: 1.3;
}

.booking-description {
  width: 440px;
  font-size: 16px;
  line-height: 29px;
  color: #555;
  margin-bottom: 32px;
}

.booking-label {
  font-size: 14px;
  font-weight: 600;
  color: #a55b13;
  margin-bottom: 8px;
  display: block;
}

.booking-select {
  width: 85% !important;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.event-details {
  border: 1px solid #e0e0e0;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
  font-size: 15px;
  color: #333;
  width: 85%;
}

.event-details p {
  margin-bottom: 6px;
}

.book-button {
  background-color: #7a3e07;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  width: 85%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.book-button:hover {
  background-color: #5e2f06;
}

.book-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.booking-label {
  position: absolute;
  top: -0.4rem;
  left: 0.8rem;
  background: #ffffff;
  color: #8F460A;
  padding: 0 0.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
  z-index: 1;
}

@media (max-width: 768px) {
  .booking-layout {
    flex-direction: column-reverse;
    background-color: white;
  }

  .booking-left,
  .booking-right {
    max-width: 100%;
    padding: 1.5rem;
  }

  .booking-right{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    z-index: 999;
  }

  .booking-left{
    width: 100%;
  }

  .booking-title {
    font-size: 32px;
  }

  .booking-description {
    width: 100%;
    font-size: 15px;
    line-height: 26px;
  }

  .booking-select,
  .event-details,
  .book-button {
    width: 100% !important;
  }

  .booking-right {
    height: 200px;
  }

  .booking-right img {
    height: 100%;
    border-radius: 10px;
  }
}


.header-group {
  display: flex;
  gap: 12px;
  border: none !important;
}